<main>
    <div id="modifyProductContent">
		<header id="modifyProductDetails">
		    <h3 id="mpdifyProductTitle">Modify the production's information</h3>
		</header>  

        <form id="modifyProductForm" action="/inventory/{{inventory._id}}" method="post">
            <table id="tableSection">
                <tr>
                    <td>
                        <label for="name">Name:</label>
                    </td>
                    <td>
                        <input type="text" name="productName" id="productName" value={{inventory.productName}}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="woodType">Wood Type:</label>
                    </td>
                    <td>
                        <select id="woodType" name="woodType" value={{inventory.woodType}}>
                            <option value="oak">Oak</option>
                            <option value="maple">Maple</option>
                            <option value="hickory">Hickory</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="color">Color:</label>
                    </td>
                    <td>
                        <select id="color" name="color" value={{inventory.color}}>
                            <option value="yellow">Yellow</option>
                            <option value="red">Red</option>
                            <option value="black">Black</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="manufaturer">Manufacturer:</label>
                    </td>
                    <td>
                        <select id="manufacture" name="manufaturer" value={{inventory.manufaturer}}>
                            <option value="m1">M1</option>
                            <option value="m2">M2</option>
                            <option value="m3">M3</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="buyingPrice">Buying price (per sqt): $</label>
                    </td>
                    <td>
                        <input type="number" name="unitCost" id="buyingPrice" value="{{inventory.unitCost}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="stock">Stock (in sqt):</label>
                    </td>
                    <td>
                        <input type="number" name="stock" id="stock" value="{{inventory.stock}}">
                    </td>
                </tr>  
                <tr>
                    <td>
                        <button id="submitButton" type="submit" value="Submit">Modify submit</button>
                    </td>
                </tr>                          
            </table>
        </form>
    </div>
</main>