<main>
    <div id="modifyOrderContent">
		<header id="modifyOrderHeader">
		    <h3 id="modifyOrderTitle">Modify the order's information</h3>
		</header>  
        
        <form id="modifyProductForm" action="/inventory/modify/{{order._id}}" method="post">
            <table id="tableSection" class="tableSection">
                <tr>
                    <td>
                        <label for="productName">Production's name:</label>
                    </td>
                    <td>
                        <input type="text" name="productName" id="productName" value="{{inventory.productName}}">
                    </td>
                </tr> 

                <tr>
                    <td>
                        <label for="sellerUsername">Seller's username:</label>
                    </td>
                    <td>
                        <input type="text" name="sellerUsername" id="sellerUsername" value="{{user.username}}">
                    </td>
                </tr>  

                <tr>
                    <td>
                        <label for="totalQty">Total Quantity (in sqt):</label>
                    </td>
                    <td>
                        <input type="number" name="totalQty" id="totalQty" value="{{order.totalQty}}">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="sellingPrice">Selling price (in sqt): $</label>
                    </td>
                    <td>
                        <input type="number" name="sellingPrice" id="sellingPrice" value="{{order.sellingPrice}}">
                    </td>
                </tr> 

                <tr>
                    <td>
                        <label for="shippingCost">Shipping cost (in sqt): $</label>
                    </td>
                    <td>
                        <input type="number" name="shippingCost" id="shippingCost" value="{{order.shippingCost}}">
                    </td>
                </tr> 

                <tr>
                    <td>
                        <label for="shippingAddress">Shipping address:</label>
                    </td>
                    <td>
                        <input type="text" name="shippingAddress" id="shippingAddress" value="{{order.shippingAddress}}">
                    </td>
                </tr>   

                <tr>
                    <td>
                        <label for="deliveryDate">Delivery date:</label>
                    </td>
                    <td>
                        <input type="date" name="deliveryDate" id="deliveryDate" value="{{order.deliveryDate}}">
                    </td>
                </tr> 

                <tr>
                    <td>
                        <label for="order_status">Order Status:</label>
                    </td>
                    <td>
                        <input type="radio" name="order_status" value="Order delivered" checked/>  
                        <label for="orderDelivered">Order delivered</label>  
                        <input type="radio" name="order_status" value="Order not delivered"/>
                        <label for="orderNotDelivered">Order Not delivered</label>                                                   
                    </td>
                </tr> 

                <tr>
                    <td>
                        <button id="submitButton" class="submitButton" type="submit" value="Submit">Modify submit</button>
                    </td>
                </tr>                                                                                                                                   
            </table>
        </form>
    </div>
</main>

        