<h1>
    {{this.name}} 
</h1>

<div>
    <div>
        <ul>
            <h3><li><span>ProductName : </span>{{this.productName}}</li></h3>
            <h3><li><span>ProductType : </span>{{this.productType}}</li></h3>
            <h3><li><span>ProductColor : </span>{{this.color}}</li></h3>
            <h3><li><span>Manufacturer : </span> {{this.manufacturer}}</li></h3>
            <h3><li><span>Stock : </span> {{this.stock}}</li></h3>
            <h3><li><span>Price : $</span>{{this.price}}</li></h3>
            <h3><li><span>ProductId : </span> {{this.productId}}</li></h3>
        </ul>
    </div>
    <p><button class="ui button"><a href="/inventory/all">Back</a></button></p>
</div>
