<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="fiftenth wide column">
        <div class="ui middle aligned divided list">
          <div class="item">
            <img class="ui avatar image" src="../../public/img/home_page2.png">
            <div class="content">Game</div>
            <ul>
              <li>Rent Fee</li>
              <li>Duration</li>
            </ul>
          </div>
          {{#each rentgames}}
          <div class="item">
            <div class="right floated content">
              <div class="ui button"><a href="/games/rent/{{this._id}}">Borrow</a></div>
            </div>
            <img class="ui avatar image" src="/public/img/{{this.pas}}">
            <div class="content"><a href='/games/{{this.gameId}}'>{{this.name}}</a></div>
            <ul>
              <li>$ {{this.rentPrice}}</li>
              <li>{{this.duration}} days</li>
            </ul>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>