<div class="ui container">
        <h1>List Of All Orders</h1>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>OrderId</th>
                    <th>Product ID</th>
                    <th>Owner/seller</th>
                    <th>Qty</th>
                    <th>Unit Price</th>
                    <th>Shipping Cost</th>
                    <th>Total Cost</th>
                    <th>Delivery Date</th>
                    <th>Destination:</th>
                    <th>Delivered?</th>
                </tr>
            </thead>
            <tbody>
                {{#each inventory}}
                <tr>
                    <td><a href='/allOrder/{{this._id}}'>{{this._id}}</a></td>
                    <td>{{this.productId}}</td>
                    <td>{{this.orderOwner}}</td>
                    <td>{{this.totalQty}}</td>
                    <td>${{this.unit_price}}</td>
                    <td>${{this.shipping_cost}}</td>
                    <td>${{total_cost}}</td>
                    <td>{{this.deliveryDate}}</td>
                    <td><a href="{{this.address}} "onclick="getLink(event,'{{this.address}}')">{{this.address}}</a></td>
                    <td>{{this.deliveryStatus}}</td>
                    <td>
                        <a href="/allOrder/update/{{this._id}}"  class="ui mini basic teal button"> Confirm Delivery </a>           
                        <a href="/allOrder/deleteOrder/{{this._id}}" class="ui mini basic red button">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            
        </table>
    </div>