<h1>
    {{this.name}} 
</h1>

<div>
    <div>
        <ul>
            <h3><li><span>Order Id : </span>{{this._id}}</li></h3>
            <h3><li><span>Seller Id : </span>{{this.sellerId}}</li></h3>
            <h3><li><span>Product_Id : </span>{{this.product_id}}</li></h3>
            <h3><li><span>Total Qyt : </span> {{this.totalQty}}</li></h3>
            <h3><li><span>Order cost : $</span> {{this.order_cost}}</li></h3>
            <h3><li><span>Delievery Address</span>{{this.address}}</li></h3>
            <h3><li><span>Delievery Date</span>{{this.deliveryDate}}</li></h3>
            <h3><li><span>Order Owner / Seller : </span> {{this.orderOwner}}</li></h3>
            <h3><li><span>Product ID</span>{{this.productId}}</li></h3>
        </ul>
    </div>
    <p><button class="ui button"><a href="/allOrder">Back</a></button></p>
</div>