<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="fiftenth wide column">
        <div class="ui middle aligned divided list">
          <div class="item">
            <img class="ui avatar image" src="../../public/img/home_page2.png">
            <div class="content">Game </div>
            <ul>
              <li>Price</li>
            </ul>
          </div>
          {{#each sellgames}}
          <div class="item">
            <div class="right floated content">
              <div class="ui button"><a href="/games/purchase/{{this._id}}">Purchase</a></div>
            </div>
            <img class="ui avatar image" src="/public/img/{{this.pas}}">
            <div class="content"><a href='/games/{{this.gameId}}'>{{this.name}}</a></div>
            <ul>
              <li>${{this.price}}</li>
            </ul>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>